.idea
app/build
sealOfficeOnline/build
sealImageVideo/build
uniplugin_component/build
uniplugin_richalert/build
ocr_ui/build
sealOCR/build

uniapp示例工程源码/unipluginDemo/unpackage
uniapp示例工程源码/Seal-UniPlugin/unpackage
uniapp_demo/unipluginDemo/unpackage
uniapp_demo/Seal-UniPlugin/unpackage

*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
